<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- <script src="routing/view.js" type="text/javascript"></script>   -->

  <style>
    .jumbotron {
     text-align: center;
    }
    h1 {
     font-size: 62px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
    <h1><i class="fa fa-free-code-camp" aria-hidden="true"></i> Hot Restaurant</h1>
    <hr>
    <h3>Book your seat before they are all gone!</h3>
    <br>
      <a href="/index"><button class="btn btn-primary btn-lg"><span class="fa fa-eye"></span> Home</button></a>
      <a href="/make"><button class="btn btn-danger btn-lg"><span class="fa fa-plus"></span> Make Reservation</button></a>
    </div>
    <div class="row">

      <div class="col-lg-12">

        <div class="card mb-4">
          <div class="card-header">
            <h3><strong>Reservations Search</strong></h3>
          </div>
          <div class="card-body">
            <input type="text" id="name-search" class="form-control">
            <br>
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-md" id="search-btn"><span class="fa fa-search"></span> Search
                </button>
            </div>
          </div>
        </div>


    <div class="card" id="search-card" style="display:none">
        <div class="card-header">
            <h3><strong>Search Result</strong></h3>
        </div>
        <div class="card-body">
            <div class="search"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3><strong>Active Reservations</strong></h3>
        </div>
        <div class="card-body">
            <div class="active"></div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <h3><strong>Waitlisted Reservations</strong></h3>
        </div>
        <div class="card-body">
            <div class="waitlist"></div>
        </div>
    </div>
      </div>
    </div>
  </div>
  
  
  <script src="routing/view.js" type="text/javascript"></script>  
  </body>
</html>
